<html>
	<head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<script type="text/javascript" src="{{js_path}}"></script>
	</head>

	<body>
		<h4>Type in the number of month:</h4>
		<input class="monthNum" type="text" maxlength="2">
    	<h4 class="monthName">----</h4>
	</body>
</html>